<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar</title>
</head>
<body>
    <header>
        <h1>Listado de Productos</h1>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                {% for p in Productos %}
                <tr>
                    <td>{{ p.nombre }}</td>
                    <td>{{ p.precio }}</td>
                    <td>{{ p.stock }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer>
    </footer>
</body>
</html>
