{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Restaurar</title>
</head>
<body >
    <header>
        <h1>Listado de Productos</h1>
    </header>
    <a class="nav_tabla_crud" href="/registrar/">Agregar</a>
    <a class="nav_tabla_crud" href="/listar/">Volver</a>
    <main>
    {% if productos %}
    <div class="table table-bordered" "table-responsive">
        <table class="table" >
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                    {% for e in productos %}
                    <tr>
                        <td>{{ e.nombre }}</td>
                        <td>{{ e.precio }}</td>
                        <td>{{ e.stock }}</td>
                        <td><a class="nav_tabla_crud" href="/editar/{{e.id_producto}}">Editar</a></td>
                        <td><a class="nav_tabla_crud" href="/restaurar/{{e.id_producto}}">Restaurar</a></td>
                    </tr>
                    {% endfor %}
        {% else %}
            <p>No hay productos disponibles.</p>
            </tbody>
        {% endif %}
        </table>
    </div>
    </main>
    <footer>
    </footer>
</body>
</html>
